<a href="https://colab.research.google.com/github/Katya-Popova/001/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Домашняя работа Diamonds

carat    - вес бриллианта (0,2--5,01)

cut       - качество реза (удовлетворительное, хорошее, очень хорошее, премиум, идеальное)      

color    -  бриллиантовый цвет, от J (худший) до D (лучший)

clarity   -  измерение чистоты алмаза (I1 (худший), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (лучший))

depth   - общий процент глубины = z / среднее (x, y) = 2 * z / (x + y) (43--79)

table  - ширина вершины алмаза относительно самой широкой точки (43--95)

price -  цена

x     -  длина

y    - ширина

z    -  глубина

In [4]:
import pandas as pd
d = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print(d)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

1) Напишите программу Pandas для чтения CSV-файла из указанного источника и печати первых 5 строк.

In [ ]:
d.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

2) Напишите программу Pandas для чтения набора данных из бриллианта DataFrame, изменения значений столбцов по умолчанию и печати первых 6 строк.

In [5]:
print(d[['carat', 'cut', 'x', 'y', 'z']].head(6))

   carat        cut     x     y     z
0   0.23      Ideal  3.95  3.98  2.43
1   0.21    Premium  3.89  3.84  2.31
2   0.23       Good  4.05  4.07  2.31
3   0.29    Premium  4.20  4.23  2.63
4   0.31       Good  4.34  4.35  2.75
5   0.24  Very Good  3.94  3.96  2.48

3) Напишите программу Pandas, чтобы выбрать серию из бриллиантов DataFrame. Распечатайте содержание серии.

In [6]:
print(d['carat'])

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

4) Напишите программу Pandas для создания новой серии «Качество? Цвет» (используйте обозначение в скобках для определения имени серии) бриллианта DataFrame

In [7]:
d = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
d1=d
d1['Quality–color'] = d.cut + ' ' + d.color
print(d1.head())

   carat      cut color clarity  depth  table  price     x     y     z  \
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

  Quality–color
0       Ideal E
1     Premium E
2        Good E
3     Premium I
4        Good J

5) Напишите программу Pandas, чтобы найти количество строк и столбцов и тип данных для каждого столбца алмазов.

In [8]:
print(d.shape)
print(d.dtypes)

(53940, 11)
carat            float64
cut               object
color             object
clarity           object
depth            float64
table            float64
price              int64
x                float64
y                float64
z                float64
Quality–color     object
dtype: object

6)Напишите программу Pandas для суммирования только столбцов «объект» в бриллианте Dataframe

In [ ]:
print(d.describe(include=['object']))

          cut  color clarity Quality–color
count   53940  53940   53940         53940
unique      5      7       8            35
top     Ideal      G     SI1       Ideal G
freq    21551  11292   13065          4884

7) Напишите программу Pandas для переименования двух столбцов бриллианта в Dataframe.

In [9]:
di= pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
di.rename(columns={'carat':'diamond_size', 'cut':'trait'}, inplace=True)
print(di.head())

   diamond_size    trait color clarity  depth  table  price     x     y     z
0          0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1          0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2          0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3          0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4          0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

8)Напишите программу Pandas, чтобы переименовать все столбцы бриллианта в Dataframe.

In [10]:
di= pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
di.rename(columns={'carat':'diamond_carat', 'cut':'diamond_cut','color':'diamond_color','clarity':'diamond_clarity','depth':'diamond_depth','table':'diamond_table',
                   'price':'diamond_price','x':'diamond_x','y':'diamond_y','z':'diamond_z'}, inplace=True)
print(di.head())

   diamond_carat diamond_cut diamond_color diamond_clarity  diamond_depth  \
0           0.23       Ideal             E             SI2           61.5
1           0.21     Premium             E             SI1           59.8
2           0.23        Good             E             VS1           56.9
3           0.29     Premium             I             VS2           62.4
4           0.31        Good             J             SI2           63.3

   diamond_table  diamond_price  diamond_x  diamond_y  diamond_z
0           55.0            326       3.95       3.98       2.43
1           61.0            326       3.89       3.84       2.31
2           65.0            327       4.05       4.07       2.31
3           58.0            334       4.20       4.23       2.63
4           58.0            335       4.34       4.35       2.75

9)Напишите программу Pandas для удаления второго столбца алмаза Datafram

In [ ]:
di = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv') 
di.drop('cut', axis=1, inplace=True)
print(di.head())

   carat color clarity  depth  table  price     x     y     z
0   0.23     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     J     SI2   63.3   58.0    335  4.34  4.35  2.75

10) Напишите программу Pandas для одновременного удаления нескольких столбцов из блока данных.

In [11]:
di = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv') 
di.drop(['x','y','z'], axis=1, inplace=True)
print(di.head())

   carat      cut color clarity  depth  table  price
0   0.23    Ideal     E     SI2   61.5   55.0    326
1   0.21  Premium     E     SI1   59.8   61.0    326
2   0.23     Good     E     VS1   56.9   65.0    327
3   0.29  Premium     I     VS2   62.4   58.0    334
4   0.31     Good     J     SI2   63.3   58.0    335

11) Напишите программу Pandas для одновременного удаления нескольких строк (ось = 0 относится к строкам) из фрейма данных diamonds.

In [12]:
di.drop([0, 2, 4], axis=0, inplace=True)
print(di.head())

   carat        cut color clarity  depth  table  price
1   0.21    Premium     E     SI1   59.8   61.0    326
3   0.29    Premium     I     VS2   62.4   58.0    334
5   0.24  Very Good     J    VVS2   62.8   57.0    336
6   0.24  Very Good     I    VVS1   62.3   57.0    336
7   0.26  Very Good     H     SI1   61.9   55.0    337

12. Напишите программу Pandas для сортировки «отрезанной» серии в порядке возрастания (возвращает серию) алмазов в Dataframe.

In [13]:
print(di.cut.sort_values(ascending=True))

2583          Fair
8200          Fair
47802         Fair
51026         Fair
8197          Fair
           ...
7403     Very Good
43101    Very Good
7402     Very Good
16898    Very Good
21164    Very Good
Name: cut, Length: 53937, dtype: object

13. Напишите программу Pandas для сортировки Серии цен в порядке убывания (возвращает Серии) бриллиантов Датафрейм

In [14]:
print(di.price.sort_values(ascending=False))

27749    18823
27748    18818
27747    18806
27746    18804
27745    18803
         ...
7          337
5          336
6          336
3          334
1          326
Name: price, Length: 53937, dtype: int64

14. Напишите программу Pandas, чтобы отсортировать весь DataFrame бриллиантов по серии «Карат» в порядке возрастания и убывания

In [15]:
print(di.carat.sort_values(ascending=True))
print(di.carat.sort_values(ascending=False))

31594    0.20
31593    0.20
31595    0.20
31596    0.20
31597    0.20
         ...
25998    4.01
25999    4.01
27130    4.13
27630    4.50
27415    5.01
Name: carat, Length: 53937, dtype: float64
27415    5.01
27630    4.50
27130    4.13
25999    4.01
25998    4.01
         ...
31594    0.20
31593    0.20
31592    0.20
31591    0.20
31599    0.20
Name: carat, Length: 53937, dtype: float64

15. Напишите программу Pandas, чтобы отфильтровать строки DataFrame так, чтобы вес в каратах составлял не менее 0,3.

In [20]:
di[di['carat']>0.3]

       carat        cut color clarity  depth  table  price
13      0.31      Ideal     J     SI2   62.2   54.0    344
15      0.32    Premium     E      I1   60.9   58.0    345
23      0.31  Very Good     J     SI1   59.4   62.0    353
24      0.31  Very Good     J     SI1   58.1   62.0    353
37      0.31       Good     H     SI1   64.0   54.0    402
...      ...        ...   ...     ...    ...    ...    ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757
53936   0.72       Good     D     SI1   63.1   55.0   2757
53937   0.70  Very Good     D     SI1   62.8   60.0   2757
53938   0.86    Premium     H     SI2   61.0   58.0   2757
53939   0.75      Ideal     D     SI2   62.2   55.0   2757

[49736 rows x 7 columns]

17. Напишите программу Pandas, чтобы найти детали бриллиантов, где длина> 5, ширина> 5 и глубина> 5

In [31]:
di = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print(di[(di['x'] > 5) & (di['y'] > 5) & (di['z'] > 5)])

       carat        cut color clarity  depth  table  price     x      y      z
11778   1.83       Fair     J      I1   70.0   58.0   5083  7.34   7.28   5.12
13002   2.14       Fair     J      I1   69.4   57.0   5405  7.74   7.70   5.36
13118   2.15       Fair     J      I1   65.5   57.0   5430  8.01   7.95   5.23
13562   1.96       Fair     F      I1   66.6   60.0   5554  7.59   7.56   5.04
13757   2.22       Fair     J      I1   66.7   56.0   5607  8.04   8.02   5.36
...      ...        ...   ...     ...    ...    ...    ...   ...    ...    ...
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90   7.97   5.04
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50   8.47   5.16
48410   0.51  Very Good     E     VS1   61.8   54.7   1970  5.12   5.15  31.80
49189   0.51      Ideal     E     VS1   61.8   55.0   2075  5.15  31.80   5.12
49905   0.50  Very Good     G    VVS1   63.7   58.0   2180  5.01   5.04   5.06

[1457 rows x 10 columns]

18. Напишите программу Pandas, чтобы найти бриллианты премиум-класса или идеальные.

In [33]:
di = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print(di[(di['cut'] == 'Premium') | (di['cut'] == 'Ideal')])

       carat      cut color clarity  depth  table  price     x     y     z
0       0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
11      0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72    Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[35342 rows x 10 columns]

19. Напишите программу Pandas, чтобы найти бриллианты, которые имеют Ярмарку, Хороший или Премиум

In [34]:
di = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print(di[(di['cut'] == 'Premium') | (di['cut'] == 'Fair') | (di['cut'] == 'Good')])

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
8       0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53936   0.72     Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[20307 rows x 10 columns]

20. Напишите программу Pandas для отображения всех меток столбцов бриллиантов DataFrame.

21. Напишите программу Pandas, которая будет читать только подмножество из 3 строк из DataFrame с бриллиантами.

22. Напишите программу Pandas для перебора бриллиантов в DataFrame.

23. Напишите программу Pandas для удаления всех нечисловых столбцов из бриллиантов DataFrame

24. Напишите программу Pandas, которая будет включать только числовые столбцы в DataFrame с бриллиантами.

25. Напишите программу Pandas, чтобы передать список типов данных, чтобы описать только определенные типы алмазов DataFrame.

26. Напишите программу Pandas для расчета среднего значения каждого числового столбца алмазов в DataFrame.

27. Напишите программу Pandas для расчета среднего значения каждого ряда алмазов в DataFrame.

28. Напишите программу Pandas для расчета среднего значения цены для каждого бриллианта DataFrame.

29. Напишите программу Pandas для расчета количества, минимальной, максимальной цены на каждый бриллиант DataFrame.

30. Напишите программу Pandas для создания линейного линейчатого графика бриллианта DataFrame.

31. Напишите программу Pandas, чтобы подсчитать, сколько раз встречается каждое значение в серии ограненных бриллиантов DataFrame.

32. Напишите программу Pandas для отображения процентов каждого значения серии огранки, встречающейся в бриллиантах в DataFrame.

33. Напишите программу Pandas для отображения уникальных значений в бриллиантах ограненной серии DataFrame.

34. Напишите программу Pandas для подсчета количества уникальных значений в ограненной серии бриллиантов DataFrame.

35. Напишите программу Pandas для расчета кросс-табуляции двух серий в бриллиантах DataFrame.

36. Напишите программу Pandas для расчета различных сводных статистических данных о бриллиантах серии огранки DataFrame.

37. Напишите программу Pandas для создания гистограммы из серии «Карат» (распределение числовой переменной) бриллиантов DataFrame.

38. Напишите программу Pandas для создания гистограммы «value_counts» для «ограненной» серии бриллиантов DataFrame.

39. Напишите программу Pandas для создания DataFrame с логическими значениями (True, если отсутствует, False, если не отсутствует) из алмазов DataFrame.

40. Напишите программу Pandas для подсчета количества пропущенных значений в каждой серии бриллиантов DataFrame.

41. Напишите программу Pandas, чтобы проверить количество строк и столбцов и отбросьте эти строки, если в строке DataFrame «строки» отсутствуют значения «any»

42. Напишите программу Pandas для удаления строки, если в одном или нескольких значениях в строке отсутствуют алмазы DataFrame в двух конкретных столбцах.

43. Напишите программу Pandas, чтобы установить существующий столбец в качестве индекса алмазов DataFrame.

44. Напишите программу Pandas, чтобы установить существующий столбец в качестве индекса бриллианта DataFrame, восстановить имя индекса и переместить индекс обратно в столбец.

45. Напишите программу Pandas для доступа к указанному индексу Series и значениям Series для алмазов DataFrame.

46. Напишите программу Pandas для сортировки Серии по ее значениям и индексу алмазов в DataFrame.

47. Напишите программу Pandas для расчета умножения длины, ширины и глубины на каждый бриллиант DataFrame.

48. Напишите программу Pandas для объединения DataFrame с бриллиантами в «цветную» серию

49. Напишите программу Pandas для чтения указанных строк и всех столбцов алмазов DataFrame.

50. Напишите программу Pandas для чтения строк 0, 5, 7 и всех столбцов алмазов в DataFrame.

51. Напишите программу Pandas для чтения строк со 2 по 5 и всех столбцов алмазов в DataFrame.

52. Напишите программу Pandas для чтения строк с 0 по 2 (включительно), столбцов «цвет» и «цена» алмазов в DataFrame.

53. Напишите программу Pandas для чтения строк с 0 по 2 (включительно), столбцы «цвет» - «цена» (включительно) бриллиантов DataFrame.

54. Напишите программу Pandas для чтения строк, в которых «огранка» - это «Премиум», колонка «цвет» алмазов DataFrame.

55. Напишите программу Pandas для чтения строк в позициях 0 и 1, столбцов в позициях 0 и 3 ромбов DataFrame.

56. Напишите программу Pandas для чтения строк в позициях с 0 по 4, столбцов в позициях с 1 по 4 в ромбах DataFrame.

57. Напишите программу Pandas для чтения строк в позициях от 0 до 4 (исключая) и всех столбцов алмазов в DataFrame.

58. Напишите программу Pandas для чтения строк с 2 по 5 (включительно), столбцов в позициях с 0 по 2 (без учета) бриллиантов в DataFrame.

59. Напишите программу Pandas для печати краткого описания бриллиантов DataFrame.

60. Напишите программу Pandas, чтобы получить истинное использование памяти бриллиантами DataFrame

61. Напишите программу Pandas для расчета использования памяти для каждой серии (в байтах) бриллиантов DataFrame.

62. Напишите программу Pandas для случайной выборки строк из бриллиантов в DataFrame.

63. Напишите программу Pandas, чтобы получить образец 75% строк в DataFrame с бриллиантами без замены и сохранить оставшиеся 25% строк в другом DataFrame.

64. Напишите программу Pandas для чтения бриллиантов DataFrame и определения дублирующего цвета. 
Примечание: функция duplicated () возвращает логическую серию, обозначающую дублирующиеся строки, опционально только с учетом определенных столбцов.

65. Напишите программу Pandas для подсчета повторяющихся рядов алмазов в DataFrame.